.row {
    width: 100%;
    height: 2000px;
    /* background-color: rgb(236, 183, 86); */
    /* background-color:rgb(219, 164, 26) */
    /* background-color: #dec087; */
    background-color: rgba(231, 144, 23, 0.622)
}

.col {
    height: 1px;
    width: 100%;
    /* border: rgb(238, 118, 12) 2px solid; */
    /* float:left; */
    /* background-color: rgb(210, 105, 30); */

}

h1 {
    text-align: left;
    left: 200px;
    top: 50px;
    position: absolute;
    color: rgb(248, 179, 5);

}

h2 {
    position: relative;
    color: rgb(236, 189, 18);
    right: -950px;
    top: 62px
}

button:hover h2 {
    /* background-color: rgb(239, 255, 98); */
    color: rgb(255, 157, 20);
}

.col img {
    position: absolute;
    height: 75px;
    width: 75px;
    top: 50px;
    left: 100px;
    border-radius: 120px;

}

.c1 img {
    width: 1519px;
}

.parent {
    width: 905px;
    height: 120px;
    /* background-color: rgb(26, 24, 23); */
    position: relative;
    left: 20%;
    top: 0%
}

.child {
    /* width: 200px;
    height: 200px;
    background-color: rgb(79, 71, 237); */
    position: absolute;
    left: -304px;
    top: -36px;
}

.parent p {
    font-style: italic;
    font-size: xx-large;
}

.pop {
    position: relative;
    width: 698px;
    height: 711px;
    right: -54%;
    top: 6%;
    background-color: rgb(211, 211, 226);
}

.chil {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 51px;
    top: 1631px;
    /* background-color: red; */
}

.chil button {
    height: 42px;
    width: 87px;
    border-radius: 15px;
    background-color: rgb(236, 151, 31);
    color: rgb(13, 12, 13);
}

.chil button:hover {
    background-color: rgb(221, 178, 91);
    left: 10%;
    top: 10%;
    color: rgb(20, 1, 228);
}

.chil label {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.chil h4 {
    font-size: x-large;
    font-style: oblique;
}

.pop img {
    width: 100%;
    height: 712px;
    border-radius: 0px;
}

.par {
    position: relative;
    width: 1519px;
    height: 512px;
    right: 0%;
    top: 89px;
    background-color: #dec087;

    /* background-color:rgba(231, 144, 23, 0.622) */
    /* background-color:darkgoldenrod */
    /* background-color: #dec087; */
    /* background-color: rgb(236, 183, 86); */


}

.par cld {
    position: absolute;
    width: 300px;
    height: 3009x;
    /* top: 1831px;
    left: 51px; */
    background-color: brown;
}

.cld1 {
    position: absolute;
    top: 0%;
    left: 37%;
    border-radius: 0%;
}

.cld2 {
    width: 238px;
    height: 393px;
    /* background-color:lavenderblush; */
    position: relative;
    left: 29%;
    top: -126%;
}

.cld2 p {
    font-size: xx-large;
    padding: 5px;
    font-style: italic;
}

.cld3 {
    position: absolute;
    top: -141%;
    left: 3%;
    border-radius: 0%;
}

.cld4 img {
    position: absolute;
    top: -0%;
    left: -1%;
    width: 25%;
    height: 448px;
    /* border-radius: 100px; */

}

.cld5 img {
    position: absolute;
    top: 0%;
    left: 1062px;
    height: 225px;
    border-radius: 38%;
}

.cld6 img {
    position: absolute;
    top: 242px;
    left: 444px;
    height: 225px;
    border-radius: 135%;
}

.cld7 img {
    position: absolute;
    top: 0px;
    left: 813px;
    height: 225px;
    border-radius: 70%;
}

.cld8 img {
    position: absolute;
    top: 245px;
    left: 854px;
    height: 225px;
    border-radius: 19%;
}

.cld9 img {
    position: absolute;
    top: 245px;
    left: 1204px;
    height: 225px;
    border-radius: 71%;
}

.cld10 img {
    position: absolute;
    top: -2px;
    left: 374px;
    height: 225px;
    border-radius: 18%;
}

.price {
    position: absolute;
    top: 2167px;
    left: 947px;
    font-size: larger;
    padding: 5px;
    font-style: italic;
}

.pr1 {
    position: absolute;
    /* top: 2202px;
    left:678px; */
    top: 204px;
    left: 502px;
    font-size: larger;
    padding: 5px;
    font-style: italic;

}

.pr2 {
    position: absolute;
    top: -46px;
    left: 494px;
    font-size: larger;
    padding: 5px;
    font-style: italic;
}

.pr3 {
    position: absolute;
    top: 210px;
    left: -265px;
    font-size: larger;
    padding: 5px;
    font-style: italic;
}

.pr4 {
    position: absolute;
    top: 177px;
    left: 108px;
    font-size: larger;
    padding: 5px;
    font-style: italic;

}

.pr5 button {
    position: absolute;
    top: 299px;
    left: -585px;
    height: 48px;
    width: 112px;
    border-radius: 28px;
    background-color: darkorange;
    color: yellow;
}

.pr5 button:hover {
    background-color: darksalmon;
    color: brown;
}

.feed {
    position: relative;
    width: 1519px;
    height: 512px;
    right: 0%;
    top: 89px;
    background-color: #000000be
        /* background-color: rgb(168, 18, 18); */
        /* background-color: rgb(236, 183, 86); */
        /* background-color: #dec087; */
        /* background-color: black;

/* .fd1{
    width: 612px;
    height: 393px;
    background-color:lavenderblush; */
    
    /* left: 0px;
    top:0px; */
}

.fd1 p {
    left: 214px;
    /* right:0px; */
    top: -20px;
    font-style: italic;
    font-size: x-large;
    position: absolute;
    color: white;
    /* text-align:right; */
}

.fd2 p {
    left: 214px;
    top: 0px;
    font-style: italic;
    font-size: x-large;
    position: absolute;
    color: white;
}

.fd3 p {
    left: 10px;
    top: 50px;
    font-style: italic;
    font-size: x-large;
    position: absolute;
    color: white;
}

.fd4 p {
    left: 10px;
    top: 110px;
    font-style: italic;
    font-size: x-large;
    position: absolute;
    color: white;
}

.fd5 p {
    left: 10px;
    top: 199px;
    font-style: italic;
    font-size: x-large;
    position: absolute;
    color: white;
}

.fd6 p {
    left: 10px;
    top: 310px;
    font-style: italic;
    font-size: x-large;
    position: absolute;
    color: white;
}

.fd7 p {
    left: 950px;
    top: -7px;
    font-style: italic;
    font-size: x-large;
    position: absolute;
    color: rgb(26, 24, 24);
}

footer {
    position: relative;
    top: 92px;
    width: 100%;
    height: 450px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

footer p:nth-child(1) {
    font-size: 30px;
    color: aliceblue;
    margin-top: 28px;
    font-weight: bold;
    left: 977px;
}

footer p:nth-child(2) {
    color: aliceblue;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    width: 45px;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    border-radius: 50%;
    margin: 22px 10px;
    color: aliceblue;
    text-decoration: none;
    font-size: 40px;
    text-align: right;
    left: 977px;

}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;

}

.end {
    position: absolute;
    color: aliceblue;
    bottom: 19px;
    /* left: 977px; */
    font-size: 14px;
    text-align: right;

}